<% include ../partials/header.ejs %>

<h1 class="ui huge center aligned header"><i class="comments outline icon"></i>Add new testimonial</h1>
<hr>
<form class="ui form" action="/testimonials" method="POST">
        <div class="field">
          <label>Name</label>
          <input type="text" name="name" placeholder="First and Last Name"required>
        </div>
        <div class="field">
          <label>Relationship</label>
          <select name="relationship" placeholder="e.g. Student, Piano Parent, Colleague" required>
          <option disabled selected value> -- select an option -- </option>
          <option value="Student">Student</option>
          <option value="Student Parent">Student Parent</option>
          <option value="Colleague">Colleague</option>
          <option value="Other">Other</option>
          </select>
        </div>
        <div class="field">
          <label>Name</label>
          <textarea type="text" name="text" placeholder="Write your testimonial here!" required></textarea>
     </div>
    
            
              

        <button class="ui blue button" type="submit">Submit</button>
      </form>

      <% include ../partials/footer.ejs %>