<% include ./partials/header.ejs %>
<div class="container">


<h1 class="ui center aligned header p-heading ">Interested?</h1>
<hr>

<div class="ui stackable grid">
    <div class="two column row">
        <div class="column mobile hidden">
            <img id= "contact-image" class="ui large image bordered"src="https://static.wixstatic.com/media/70ffe5bf0bb14e4b98128fac1f7beac7.jpg/v1/fill/w_596,h_1024,al_c,q_85/70ffe5bf0bb14e4b98128fac1f7beac7.webp" alt="">
        </div>
        <div class="column">
                <h4>Just fill out this contact form and I will be in touch!  Please allow a day or two for a response.</h4>
                <em><p>All fields required</p>.</em>
                
                <iframe src="https://www.vcita.com/widgets/contact_form/en27y7hjp0zhboyr?frontage_iframe=true" width="100%" height="500"  scrolling="no"  frameborder="0" style=" ">
                    <a href='https://www.vcita.com/v/en27y7hjp0zhboyr/contact?frontage_iframe=true&invite=vr_cf_pb-en27y7hjp0zhboyr'>   </a>
                  </iframe>
        </div>

    </div>

        </div>
        </div>
</div>

<% include ./partials/footer.ejs %>
