<% include ./partials/header.ejs %>
<div class="container" id="index-container">
    <div class="ui stackable grid">
        <div class="one column row">
            <div class="column mobile hidden">
                <div class="ui centered spaced extra-large  image" id="banner-image">
                    <img src="images/bannerimage.png"
                        alt="">
                </div>

            </div>

        </div>
        <div class="three column row">
            <div class="column">
                <div class="ui centered spaced large image" id="banner-image">
                    <img src="images/girl.png"
                        alt="">
                    <a href="/approach"class="ui huge black button">
                        <i class="info circle icon"></i>Approach
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="ui centered spaced large image" id="banner-image">
                    <img src="images/tech.png"
                        alt="">
                    <a href="/technology "class="ui huge black button">
                        <i class="tablet alternate icon"></i>Technology
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="ui centered spaced large image" id="banner-image">
                    <img src="images/testimonials.png"
                        alt="">
                    <a href="/testimonials" class="ui huge black button">
                        <i class="comments outline icon"></i>Testimonials
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<% include ./partials/footer.ejs %>