<% include ./partials/header %>
<h1 class="ui huge header center aligned">Login</h1>
<div id="authcontainer" class="container">

<form action="/login" method="post" class="ui form">
    <input type="hidden" name="referer" value= <%= referer %> >

    <div class="field ten wide" >
        <label for="username">username: </label>
        <input type="text" name="username" placeholder="username" required>
    </div>
    <div class="field ten wide">

        <label for="password">password</label>
        <input type="password" name="password" placeholder="password" required>
    </div>
    <button type="submit"class="ui large blue button">Log In</button>
    Not registered?  <a href="/register">Sign Up</a>
</form>
</div>
<% include ./partials/footer %>
