<% include ./partials/header.ejs %>

<br>
<h1 class="ui huge center aligned header"><i class="comments outline icon"></i>
Testimonials</h1>
<hr>
<br>
<div>
<div class="ui three column stackable grid">
      <%testimonials.forEach((testimonial)=>{%>
                <div class="column">
                        <div class="ui  cards">
                                <div class="card card-height">
                                  <div class="image">
                                    <img class="image-height" src="<%=testimonial.image%>">
                                  </div>
                                  <div class="content">
                                    <div class="description  description-height">
                                        <%=testimonial.text%>

                                  </div>
                                  </div>
                                  <div class="extra extra-height content">
                                    <span class="right floated">
                                        <%=testimonial.relationship%>

                                    </span>
                                    <span>
                                      <i class="user icon"></i>
                                      <%=testimonial.user%>

                                        </span>
                                  </div>
                                </div>
                        </div>
                  </div>
                  <%})%>
                </div>

           

          
                </div>
          
          
           







​






<% include ./partials/footer.ejs %>