/* MEDIA QUERIES */
@media (max-width:767px){


    body > div.container > div > div > a:nth-child(8) > button{
        justify-content: center;
    }
    
    body > div.container > div > div > a:nth-child(1){
        width: 80%;
    }
    #profileActivity{
        padding-top: 20px;
    }
 
    @media(max-width: 1200px){
        body > div.container > div > div > div.ui.secondary.menu.right > a:nth-child(1) > button{
            display: none;
        }
    }

 
 }  

 /* ELEMENTS */
 *:focus{
    outline: none!important;
}

html{
    background: #F9F9F9
}


body{
    background: #F9F9F9;
    height: 100vh;
}
textarea{
    resize: none !important;
}
hr{
    border-color:#20769A;
}



  select{
      height: 3rem !important;
  }


/* CLASSES */
.userpage:nth-child(even){
    background: #f5f5f5;

}
.userpage .image{
    margin-bottom: 15px;
}
.banner-container{
    display: flex;   
   }
.banner{
       margin-top: 70px;
       width: 100%;
       height:  150px;
   }
.basic-button:hover{
    background-color: black !important;
    color: white !important;
}
.buttons{
   display: flex;
   justify-content: center;
}
.image a{
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 40%;
    margin:0 auto;
    border: 1px white solid !important;
    width: 60%;
    height: 20%;
    left: 20%;
    background-color: rgba(0, 0, 0, 0.4) !important; 
}


.image a:hover{
    background-color: rgba(0,0,0,0.6)  !important;
    color: white;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-heading{
    color:#20769A !important;
    font-weight:100 !important;
}


.footer{
    position: relative;
    bottom: 0;
}
.main-content{
    min-height: 80vh;
    padding: 0 10%;

}

.video-container {
    border: 2px lightgray solid;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.testimonial{
    border:2px black solid;
    height: 300px;
    display: flex;
    align-items: center;
    padding: 10px;
}




.description-height{
    height: 150px;
}

.image-height{
    height: 250px !important;
}
/* ids */
#footer-menu a:hover{
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.05) ;
}
#footer-menu{
    margin-top: 15px;
}
#contact-content{
    padding-top: 25px;
}
#banner-image{
    border: black 5px solid;
    padding: 0
}
#banner-headline{
    position: absolute;
    top: 100px;
    left: 20px;
    z-index: 1;
    font-family: monospace;
    font-weight: 100;
    background-color:#20769A;
    color: white;
    padding: 10px;
}

#tech-content{
    padding:10% 10%;
    padding-top: 20px;
}
#authcontainer{
    padding-left: 25%;
}
#delete{
    display: inline;
}
#show-card{
    width: 500px;
}

#footer-menu a{
    color: black;
    padding: 5px;

}
#contact-image{
    margin-top: 40px;
    height: 500px;
    width: 500px;
    border: 2px black solid !important;
}
#banner-image > img{
    width: 100%;
}
#vcita{
    height: 700px;
}

#forgot{
    display: inline;
}
#relationship{
    color: red;
}

#index-container{
    margin-top:30px;
}
#yourDiv{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
#logo{
    width: 100%;
    min-width: 200px;
    max-width: 300px;
    margin-right: 50px;
}


/* more specific than id */
#social a i{

    font-size: 2rem;
    margin: 15px;
}

#social a:hover{
    text-shadow: rgba(10, 10, 10, 0.4) 2px 2px 4px;
}
body > div.ui.vertical.footer.top.attached.segment.center.aligned{
    margin-top: 50px;
}
#contact-content > div:nth-child(2) > h4{
    margin-top: 2.4em;
}
body > div.main-content > div > h2{
    margin-bottom: 50px !important;
}
 /* mobile dropdown (signed in) */
 body > div.main-content > div.ui.one.column.grid > div > div > a{
    width: 80vw;
    max-width: 490px;
    min-width: 258px;
}
body > div.main-content > div.ui.one.column.grid > div > div > div{
   width: 80vw;
   max-width: 490px;
   min-width: 258px;   
}
